<%- include('./partials/header.ejs') %>

<div class="pagebg">           
            <div class="title">        <center><h1>Data Science</h1></center>        </div>
    <div class="body">
            <p><h2>What is Data Science?</h2>
        Data science defined
        Data science combines multiple fields, including statistics, scientific methods, artificial intelligence (AI), and data analysis, to extract value from data. Those who practice data science are called data scientists, and they combine a range of skills to analyze data collected from the web, smartphones, customers, sensors, and other sources to derive actionable insights.
        Data science encompasses preparing data for analysis, including cleansing, aggregating, and manipulating the data to perform advanced data analysis. Analytic applications and data scientists can then review the results to uncover patterns and enable business leaders to draw informed insights.
        </p> <p>Data science encompasses preparing data for analysis, including cleansing, aggregating, and manipulating the data to perform advanced data analysis. Analytic applications and data scientists can then review the results to uncover patterns and enable business leaders to draw informed insights.</p>
        <p><h2>
            What’s the difference between data science, artificial intelligence, and machine learning?
            </h2>
        </p>
        <p>To better understand data science—and how you can harness it—it’s equally important to know other terms related to the field, such as artificial intelligence (AI) and machine learning. Often, you’ll find that these terms are used interchangeably, but there are nuances.</p>
        <p>Here’s a simple breakdown:</p>
        <ul>
            <li>AI means getting a computer to mimic human behavior in some way.</li>
            <li>Data science is a subset of AI, and it refers more to the overlapping areas of statistics, scientific methods, and data analysis—all of which are used to extract meaning and insights from data..</li>
            <li>Machine learning is another subset of AI, and it consists of the techniques that enable computers to figure things out from the data and deliver AI applications.
            And for good measure, we’ll throw in another definition.</li>
            <li>Deep learning which is a subset of machine learning that enables computers to solve more complex problems</li>   
        </ul>
        <p><h2>Who oversees the data science process?</h2>
        At most organizations, data science projects are typically overseen by three types of managers:
            </p>
        <ol>
        <li><b> Business managers: </b> These managers work with the data science team to define the problem and develop a strategy for analysis. They may be the head of a line of business, such as marketing, finance, or sales, and have a data science team reporting to them. They work closely with the data science and IT managers to ensure that projects are delivered.</li>
        <li> <b> IT managers:</b>   Senior IT managers are responsible for the infrastructure and architecture that will support data science operations. They are continually monitoring operations and resource usage to ensure that data science teams operate efficiently and securely. They may also be responsible for building and updating IT environments for data science teams.</li>
        <li><b>Data science managers:</b>  These managers oversee the data science team and their day-to-day work. They are team builders who can balance team development with project planning and monitoring.
        But the most important player in this process is the data scientist.</li>

        </ol>
    </div>
<div class="group">
    <div class="piechart">   <img src="/ds.jpg" width="400" height="300">    </div>
    <div class="lang">
        <ul>             
                    <b>9 Data Science Programming Languages to Know</b>
            <li>Python</li>
            <li>R</li>
            <li>Juila</li>
            <li>C/C++</li>
            <li>Java</li>
            <li>Scala</li>
            <li>JavaScript</li>
            <li>SQL</li>
            <li>Swift</li>

        </ul>
    </div>
    <div class="jobs">
        <ol>
            <b>10 DATA SCIENCE JOBS</b>
            <li>Data Scientist</li>
            <li>Data Analyst</li>
            <li>Data Engineer</li>
            <li>Data Architect</li>
            <li>Data Storyteller</li>
            <li>Machine Learning Scientist</li>
            <li>Machine Learning Engineer</li>
            <li>Business Intelligence Developer</li>
            <li>Database Administrator</li>
            <li>Technology Specialized Roles</li>
        </ol>
    </div>
</div>
    <div class="final"> 
        <div class="salary">
            <h2> SALARY FOR DATA SCIENCE IN INDIA:<br></h2>
            <ul>
                <li>Data Scientist:	₹ 8,00,000 PA<br></li>
                <li>Data Science Engineer:	₹ 9,76,133 PA<br></li>
                <li>Data Analyst:	₹ 6,02,784 PA<br></li>
            </ul>
        </div>
        <div class="link">
            <ul>
                <P><h2>Course Links:</h2></P>
                <li> <a href="https://bit.ly/3CcTo8A">Udemy</a></li>
                <li><a href="#">Coursera</a></li>
            </ul>
        </div>
    </div>
</div>   
 

<%- include('./partials/footer.ejs') %>