<%- include('./partials/header.ejs') %>
    
<div class="pagebg">
        <div class="title">        <center><h1>Game Development</h1></center>    </div>
    <div class="body">

        <p><h2>What is Game Development?</h2>
            Game Development is the art of creating games and describes the design, development and release of a game. It may involve concept generation, design, build, test and release. While you create a game, it is important to think about the game mechanics, rewards, player engagement and level design.
    </p> <p>A game developer could be a programmer, a sound designer, an artist, a designer or many other roles available in the industry.</p>

    </div>

<div class="group">
    <div class="piechart">
        <img src="/game.png" width="400" height="300">
        
    </div>
    <div class="lang"></div>
    <ul>
        <pre>
                 <b> Programming Languages to Know</b>
                    •	C++
                    •	C#
                    •	Javascript
                    •	Python
                    •	Java
                    
       </pre>
    </ul>
    
        <div class="Key">
            <pre>
                       <h2>Key skills for video game developers</h2>
                •	Creativity
                •	A passion for video games
                •	Wide-ranging knowledge of gaming trends
                •	A strong analytical frame of mind
                •	Ability to work as part of a team
                •	Proficiency in programming languages, such as C# and C++
               </pre>
        </div>
        
    </div>
    <div class="final"> 
        <div class="salary">
            <h2>BASIC SALARY FOR Game Development IN INDIA:<br></h2>
            <ul>
                <li>Game Developer: Rs.3L<br></li>
                
            </ul>
        </div>
        <div class="link"><ul>
           <p><h2>Qualifications and training required</h2></p>
<p> There are routes into video game development for university graduates. Other posts in related fields may be open to school leavers.
Or can take the following course for guidance:</p>
            <P><h2>Course Links:</h2></P>
            <li> <a href="https://www.udemy.com/courses/development/game-development/">Udemy</a></li>
            <li><a href="https://www.coursera.org/search?query=game%20development& ">Coursera</a></li>
        </ul>
    </div>
</div>
</div>    

    <%- include('./partials/footer.ejs') %>