<%- include('./partials/header.ejs'); -%>

<% if(user){ %> 
<div><h1> Welcome <%= user.username %>, </h1></div>
</h1>
<% } %> 
<div class="grid-container">
    <a href="/domain/machinelearning"><div class="grid-item">Machine Learning</div></a>
    <a href="/domain/gamedev"><div class="grid-item">Game Development</div></a>
    <a href="/domain/datascience"><div class="grid-item">Data Science</div></a>
    <a href="/domain/webdev"><div class="grid-item">Web Development</div></a>
</div>



<%- include('./partials/footer.ejs'); -%>