<%- include('./partials/header.ejs') %>
<div class="pagebg">
        <div class="title">        <center><h1>Machine Learning</h1></center>    </div>
<div class="body">
    <p><h2>What is Machine Learning?</h2>
        Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy</p>
   <p>Machine learning is an important component of the growing field of data science. Through the use of statistical methods, algorithms are trained to make classifications or predictions, uncovering key insights within data mining projects. These insights subsequently drive decision making within applications and businesses, ideally impacting key growth metrics. 
   
    
   </p>
   <p> <h2> How machine learning works</h2>
   </p>
   <p>
   <ul>
    <li>A Decision Process: In general, machine learning algorithms are used to make a prediction or classification. Based on some input data, which can be labelled or unlabeled, your algorithm will produce an estimate about a pattern in the data.</li>
    <li>An Error Function: An error function serves to evaluate the prediction of the model. If there are known examples, an error function can make a comparison to assess the accuracy of the model.</li>
    <li>3.	An Model Optimization Process: If the model can fit better to the data points in the training set, then weights are adjusted to reduce the discrepancy between the known example and the model estimate. The algorithm will repeat this evaluate and optimize process, updating weights autonomously until a threshold of accuracy has been met.  </li>
</ul>
</p>
<p><h2>Who oversees the data science process?</h2>
   At most organizations, data science projects are typically overseen by three types of managers:
    </p>
<ol>
   <li><b> Business managers: </b> These managers work with the data science team to define the problem and develop a strategy for analysis. They may be the head of a line of business, such as marketing, finance, or sales, and have a data science team reporting to them. They work closely with the data science and IT managers to ensure that projects are delivered.</li>
<li> <b> IT managers:</b>   Senior IT managers are responsible for the infrastructure and architecture that will support data science operations. They are continually monitoring operations and resource usage to ensure that data science teams operate efficiently and securely. They may also be responsible for building and updating IT environments for data science teams.</li>
<li><b>Data science managers:</b>  These managers oversee the data science team and their day-to-day work. They are team builders who can balance team development with project planning and monitoring.
But the most important player in this process is the data scientist.</li>
</ol>

<p><h2>Why is machine learning important?</h2></p>
<p>Machine learning is important because it gives enterprises a view of trends in customer behavior and business operational patterns, as well as supports the development of new products. Many of today's leading companies, such as Facebook, Google and Uber, make machine learning a central part of their operations. Machine learning has become a significant competitive differentiator for many companies.</p>

<p><h2>What are the different types of machine learning?</h2></p>
<p>Classical machine learning is often categorized by how an algorithm learns to become more accurate in its predictions. There are four basic approaches:supervised learning, unsupervised learning, semi-supervised learning and reinforcement learning. The type of algorithm data scientists choose to use depends on what type of data they want to predict.</p>

</div>

<div class="group">
    <div class="piechart">
        <img src="/ml.png" width="450" height="300">
    </div>
    <div class="lang">
    <ul> <pre>
        <b>Top 10 Programming Languages For Machine Learning</b>
        •	Python
        •	R Programming
        •	JavaScript/Java
        •	Julia
        •	Lisp
        •	Scala
        •	C/C++
        •	TypeScript
        •	GO
        •	Shell
        </pre>
    </ul>     
    </div> 
   
    <div class="uses">
<pre>
        <b> Machine Learning Uses:</b>
        •	Self-driving autonomous cars
        •	Speech translation
        •	Face recognition
        •	Sentiment analysis
        •	Social media analysis
        •	Financial trading
        •	Fraud detection
        •	Product recommendation
        •	Medical diagnosis and predictions
      </pre>
    </div>
</div>
    <div class="final"> 
        <div class="salary">
            <h2> BASIC SALARY FOR Machine Learning  IN INDIA:<br></h2>
            <ul>
                <li>Machine Learning Engineer: Rs.8L</li>
               
            </ul>
        </div>
        <div class="link"><ul>
            <P><h2>Course Links:</h2></P>
            <li> <a href="https://bit.ly/3pt8DGS">Udemy</a></li>
            <li><a href="https://www.coursera.org/learn/machine-learning?">Coursera</a></li>
        </ul>
    </div>
</div>
</div>    

<%- include('./partials/footer.ejs') %>