<%- include('./partials/header.ejs'); -%>
<div class="container pagebg">
  <form action="/queries" method="post">
    <div class="form-group">
      Email:
      <input type="email" name="email" class="form-control" required>
      <label for="exampleFormControlTextarea1">Enter Your Queries :</label>
      <br><br>
      <textarea class="form-control textarea" id="queries" name="queries" rows="3"></textarea>
    </div><br>
    <button type="submit" class="btn btn-primary" onclick="queriesSubmit()">Submit</button>
  </form>
</div>

<%- include('./partials/footer.ejs'); -%>