<%- include('./partials/header.ejs'); -%>

<form>
  <label for="queries">Enter your queries here:</label><br />
  <textarea id="queries" name="queries" width="550" height="300"></textarea><br />
  <input type="submit" value="submit" />
</form>

<%- include('./partials/footer.ejs'); -%>