<%- include('./partials/header.ejs') %>

<form action="/questionadd" method="post">
    Question : <br>
    <textarea id="question" name="question" rows="4" cols="50"></textarea> <br>
    ML/AI    <input type="radio" value="ml" name="field"><br>
    web    <input type="radio" value="web" name="field"><br>
    GameDev    <input type="radio" value="gd" name="field"><br>
    Data Science    <input type="radio" value="ds" name="field"><br>
    Common   <input type="radio" value="common" name="field"><br>
    <input type="submit" value="Add Question">

</form>

<%- include('./partials/footer.ejs') %> 