<%- include('./partials/header.ejs'); -%>

<div class="container register">
  <form action="/register" method="post">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input id="username" type="text" name="username" required="" class="form-control"/><br />
      <label for="email">Email ID:</label>
      <input id="email" type="email" name="email" required="" class="form-control"/><br />
      <label for="phone">Phone Number:</label>
      <input id="phone" type="tel" name="phone" required="" class="form-control"/><br />
      <label type="password">Password:</label>
      <input id="password" type="password" name="password" required="" class="form-control"/><br />
      <label type="cpassword">Confirm Password:</label>
      <input id="cpassword" type="password" name="cpassword" required="" class="form-control"/><br />
      <button type="submit" class="btn btn-primary">Register</button>    </div>
  </form>
</div>
  
  <%- include('./partials/footer.ejs'); -%>