<%- include('./partials/header.ejs') %>

<div class="container">

    <div class="responsedisplay">
      <table class="table">
          <% for(i=0;i<queries.length;i++) { %>
        <tr>
          <th>
            Question
          </th>
            <td><%= queries[i] %></td>         
        </tr>
            <tr>
               <th>
            Answer
          </th>            
              <td><%= response[i] %></td>              
            </tr>
            <% } %> 
        </table>
        
      </div>

<%- include('./partials/footer.ejs') %> 