<%- include('./partials/header.ejs') %>
<div class="result" id="result" style="visibility: hidden;">
<p>
    <% if (ml) { %>
        <h1><a href="/domain/machinelearning">Machine Learning</a></h1>
    <% } %>
    <% if (wd) { %>
        <h1><a href="/domain/webdev"> Web Development </a>  </h1>
     
    <% } %>
    <% if (gd) { %>
     
        <h1><a href="/domain/gamedev"> Game Development </a> </h1>
    <% } %>
    <% if (ds) { %>
     
        <h1><a href="/domain/datascience"> Data Science </a></h1>
    <% } %>
    
</p>
    <!-- <div class="container">
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
</div> -->

<br>

</div>
<center>
    <button class="btn btn-primary" onclick="move()">Show Result</button> 
</center>    


<%- include('./partials/footer.ejs') %> 