<%- include('./partials/header.ejs') %>
<div class="pagebg">
        <div class="title">        <center><h1>Web Development</h1></center>    </div>
<div class="body">
    <p><h2>What is Web Development?</h2>
        Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the internet. A web browser is used to access web pages. Web browsers can be defined as programs that display text, data, pictures, animation, and video on the Internet. Hyperlinked resources on the World Wide Web can be accessed using software interfaces provided by Web browsers.
 </p> 
 <ul>     
    <b>Here is a list of web development technologies by category:</b>
<li>Browsers</li>
<li>HTML and CSS</li>
<li>Programming Languages</li>
<li>Frameworks</li>
<li>Web Servers</li>
<li>Databases</li>
<li>Protocols</li>
<li>Lastly, data Formats</li>
</ul>

  
   <ul>
       <b>
        To create a typical web page you need to combine 3 languages:
       </b>
    <li>HTML - The language for building web pages</li>
    <li>CSS - The language for styling web pages</li>
    <li>JavaScript - The language for programming web pages</li>   
</ul>
<p><h2>Web Development Frameworks</h2>
  </p>
  <p>Web development frameworks are a starting point of items that a developer can use to avoid doing the simple or mundane tasks, and instead get right to work</p>

  <b>Databases</b>
    <p>Databases can be relational like SQL or non-relational like MongoDB. No matter the database, web applications use them to store data that is used to display on web pages. The following are the most used databases</p>
        
</div>

<div class="jobs">
            <ol>
               
                <li>
                <b>MongoDB</b> – is an open-source NoSQL database</li>
                
                <li><b>Oracle</b> – is an enterprise SQL database</li>
                <li><b> Server</b> – Microsoft’s SQL database</li>
                <li><b> Redis</b> – is the most popular key-value store</li>
                <li><b> PostgreSQL</b> – is a popular, open-sourced SQL database</li>
                <li><b>MySQL</b> – a popular open-source databaser</li>
               
            </ol> 
</div>

<div class="group">
    <div class="piechart">
        <img src="/web1.png" width="400" height="300">
    </div>
    <div class="Frame">
        <ul>
        <b>Top 10 Frameworks:</b>
        <li>Ruby on Rails</li>
        <li>YII</li>
        <li>Meteor JS</li>
        <li>Zend</li>
        <li>Django</li>
        <li>Angular.js</li>
        <li>Ember.js</li>
        <li>Backbone.js</li>
        <li>Vue.js</li>
        </ul>
    </div>
    <div class="lang">
    <ul> 
        <b>Top 9 Programming Languages for Web Development</b>
<li>Python</li>
<li>Ruby</li>
<li>HTML</li>
<li>C#</li>
<li>Java</li>
<li>Elixir</li>
<li>JavaScript</li>
<li>PHP</li>
<li>Scala</li>
  </ul>      
    </div>
</div>

    <div class="final"> 
        <div class="salary">
            <h2> SALARY FOR DATA SCIENCE IN INDIA:<br></h2>
            <ul>
                <li>Data Scientist:	₹ 8,00,000 PA<br></li>
                <li>Data Science Engineer:	₹ 9,76,133 PA<br></li>
                <li>Data Analyst:	₹ 6,02,784 PA<br></li>
            </ul>
        </div>
        <div class="link"><ul>
            <P><h2>Course Links:</h2></P>
            <li> <a href="https://bit.ly/3vCWzny">Udemy</a></li>
            <li><a href="https://www.coursera.org/search?query=web%20development&">Coursera</a></li>
        </ul>
        </div>
</div>
</div>    

<%- include('./partials/footer.ejs') %>