@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
}
body{
    text-align: center;
    color: rgb(24, 24, 24);
    background-color: rgb(135, 206, 250);
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/16/96/career-banner-background-design-concept-vector-21511696.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
a{
    text-decoration: none;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 120px;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav li{
    list-style-type: none;
    text-decoration: none;
    margin-left: 20px;
  }
  nav li a{
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
  }
  /* .form{
    width: 300px;
    height: 500px;
  } */
  .form {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 430px;
  }
  .form:before {
    width: 100%;
    height: 100%;
    background-size: cover;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    filter: blur(2px);
  }
  .form button {
    background-color: deepskyblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0px;
  }
  .register {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 575px;
  }
  .register:before {
    width: 100%;
    height: 100%;
    background-size: cover;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    filter: blur(2px);
  }
  .register button {
    background-color: deepskyblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0px;
  }